.tabs {
  display: flex;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  background-color: lightgray;
  border: 1px solid gray;
  border-bottom: none;
}

.tab:hover {
  background-color: gray;
  color: white;
}

.tab-content .content {
  display: none;
}

